//registry.npmjs.org/:_authToken=51140c7b-b70a-4ed0-bd20-d96716d335e7
# update=false
# "@one19:registry=https://registry.npmjs.org/"=true

@bit:registry=https://node.bit.dev
//node.bitsrc.io/:_authToken=e22fddab-978e-4df4-a090-4e3b8533760c
//node.bit.dev/:_authToken=e22fddab-978e-4df4-a090-4e3b8533760c